body {
    background-color: lightcyan;    
}

table {
    background-color: black;
    border-color: black;
    /* margin: 20px;
    padding: 10px; */
    border-style: solid;
}

tr {
    border-color: black;
    margin: -10px;
    padding: 10px;
    /* border-style: solid; */
    background-color: crimson;
}

td {
    border-color: black;
    margin: -10px;
    padding: 10px;
    border-style: solid;
}

.trNames {
    text-decoration: underline;
    font-weight: bold;
}

.trAlternate {
    background-color: dimgray;
}